<phpunit bootstrap="bootstrap.php"
		colors="false"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		stopOnFailure="false">

	<selenium>
		<browser name="Firefox" browser="*firefox /Applications/Firefox.app/Contents/MacOS/firefox-bin" />
	</selenium>

</phpunit>